@import "@styles/abstracts/mixins";

.container {
  width: 100%;
}

.headerContainer {
  position: relative;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.aboutHeader {
  text-decoration: none;
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
}

.contentWrapper {
  display: block;

  @include for-desktop-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.textContainer {
  width: 100%;

  @include for-desktop-up {
    width: 50%;
  }
}

.aboutText {
  width: 100%;
  font-family: "Afacad";
  font-weight: 400;
  font-size: 24px;
  line-height: 2;
  letter-spacing: 0%;

  @include for-desktop-up {
    width: auto;
    font-size: 32px;
    text-align: left;
  }
}

.imgContainer {
  display: none;

  @include for-desktop-up {
    display: block;
    width: 50%;
    // height: ;
  }
}

.zachImage {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
