:root {
  --scampi-50: #f3f4f8;
  --scampi-100: #e2e3f1;
  --scampi-200: #cdd1e6;
  --scampi-300: #aab2d5;
  --scampi-400: #818bbf;
  --scampi-500: #5960a8;
  --scampi-600: #525493;
  --scampi-700: #535187;
  --scampi-800: #45436a;
  --scampi-900: #3a3954;
  --scampi-950: #272635;

  --forest-50: #f5faf6;
  --forest-100: #e7f2e8;
  --forest-200: #d1e5d4;
  --forest-300: #b2d2da;
  --forest-400: #87b292;
  --forest-500: #59a870;
  --forest-600: #3f8756;
  --forest-700: #326c46;
  --forest-800: #2b563a;
  --forest-900: #254631;
  --forest-950: #13281b;

  --matrix-50: #faf3f3;
  --matrix-100: #f5eaea;
  --matrix-200: #ebd8d7;
  --matrix-300: #dcb6b5;
  --matrix-400: #c78f8e;
  --matrix-500: #a85959;
  --matrix-600: #884f52;
  --matrix-700: #703e42;
  --matrix-800: #5e3638;
  --matrix-900: #523035;
  --matrix-950: #2d171a;

  --husk-50: #f7f6f0;
  --husk-100: #ebead9;
  --husk-200: #dad6b5;
  --husk-300: #c5bd8b;
  --husk-400: #aea162;
  --husk-500: #a89759;
  --husk-600: #907b4a;
  --husk-700: #75603e;
  --husk-800: #635039;
  --husk-900: #564635;
  --husk-950: #31261c;
}
